@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 700px;
}

.overlay {
    height: 770px;
}

.headingtxt{
font-family: 'Catamaran', sans-serif;
font-family: 'Montserrat', sans-serif;
}

otherheadingtxt{
font-family: 'Catamaran', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.small-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 320px;
}

.services {
    background-image: url("../images/backgrounds/s_image.jpg");
    height: 320px;
}

.aboutus {
    height: 250px;
}

.aboutus h1 {
    margin-top: 30px;
}

.contacts {
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size: cover;
}
