* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 700px;
}

.overlay {
    height: 770px;
}
