@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Montserrat:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron-fluid {
    background-image: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    height: 700px;
}

.overlay {
    height: 770px;
}

.headingtxt{
font-family: 'Catamaran', sans-serif;
font-family: 'Montserrat', sans-serif;
}

otherheadingtxt{
font-family: 'Catamaran', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.small-overlay {
    background-color: #707070;
    height: 320px;
}
